.adidas .row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0
}
.adidas .cardrow{
    justify-content: space-around;
    padding-top: 30px;
}
/* Add this CSS to your Admin_Dashbord.css file */

.adidas .lichart {
    width: 300px;
    height: 100px;
    margin-bottom: 20px; 
  }
  .adidas .circhart {
    width: 400px; 
    height: 400px; 
    margin-bottom: 20px; 
  }
  