.adnav .adlogbtn{
    position: absolute;
    right: 40px;
    top: 15px;
}
.adnav .imgnav{
    padding-left: 52px;
    font-size: 40px;
}
.adnav .adserch{
    position: absolute;
    right: 200px;
    top: 16px;
}
.adnav{
    position: sticky;
    top: 0px;
}
.adnav .ffscreen{
    position: absolute;
    right: 100px;
    top: 30px;
}