.account .row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0
}
.account .accountform{
    padding-left: 40px;
}
.accountform input{
    border: 1px solid black;
}
.accountform textarea{
    border: 1px solid black;
}
.pin-only {
    letter-spacing: 1rem;
}
.account .sidebar{
    height: 106vh;
}
.accountform .atfom{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}