



.acclose .row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0
}
.acclose .closeform{
    padding-left: 40px;
}
.acclose input{
    border: 1px solid black;
}
.acclose textarea{
    border: 1px solid black;
}
.acclose .sidebar{
    height: 106vh;
}
.acclose .closeform .stbtn{
    position: absolute;
    right: 20px;
    top: 115px;
}
.acclose .accfom{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}