.applydebit .row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0
}
.applydebit .debitappbtn{
    position: absolute;
    top: 315px;
    left: 60px;
}
.applydebit .carddebit{
    width:60vw;
    display: flex;
    text-align: center;
    margin:  60px auto;
}
.applydebit .sidebar{
    height: 138vh;
}
.applydebit .apdbt{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}