
.accloserj .row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0
}
.accloserj .closeform{
    padding-left: 40px;
}
.accloserj input{
    border: 1px solid black;
}
.accloserj textarea{
    border: 1px solid black;
}
.accloserj .sidebar{
    height: 106vh;
}
.accloserj .closeform .stbtn{
    position: absolute;
    right: 20px;
    top: 115px;
}
.accloserj .accfom{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}