.debitcard .row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
}
.debitcard .debit {
    margin-left: 30px;
    
}
.debitcard .debit .ddcardimg{
    width: 40vw;
}
.debitcard .debit .dcardform{
    margin-right: 50px;
}
.debitcard .dcardform .row{
    justify-content: space-evenly;
}
.debitcard .blockcard{
    position: absolute;
    right:40px;
    top: 90px;
}
.debitcard .dcardform .row{
  text-align: center;
  margin: 100px auto;
}
.debitcard .cardno {
  position: relative;
  top: 134px;
  right: 60px;
  font-size: 18px;
}
.debitcard .expire {
  position: relative;
  top: 110px;
  left: 42px;
  font-size: 12px;
}
.debitcard .cvv {
  position: relative;
  top: 120px;
  left: 23px;
  font-size: 12px;
}
.debitcard .sidebar {
  height: 110vh;
}
