.debitcard .row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0
}
.debitcard .debit{
    width:60vw;
    display: flex;
    text-align: center;
    margin:  60px auto;
}
.debitcard .cardno{
    position: relative;
    top: 232px;
    right: 93px;
}
.debitcard .expire{
    position: relative;
    top: 195px;
    left: 45px;
}
.debitcard .cvv{
    position: relative;
    top: 195px;
    left: 35px;
}
