.Withdrow .row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0
}
.Withdrow .withdrowform{
    padding-left: 40px;
}
.Withdrow input{
    border: 1px solid black;
}
.Withdrow textarea{
    border: 1px solid black;
}
.pin-only {
    letter-spacing: 1rem;
}
.Withdrow .sidebar{
    height: 110vh;
}
.Withdrow .wdfom{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}